mule-project/esb-bpm-example/src/main/app/frontend-in.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/5.0/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    <flow name="flow-frontend-sfdc" doc:name="flow-frontend-sfdc">
        <sfdc:subscribe-topic config-ref="connector-sfdc" topic="/OpptClosed" doc:name="Salesforce (Streaming topic /OpptClosed)"/>
        <sfdc:query-single config-ref="connector-sfdc" query="select Id, Amount, StageName, Account.Name, Account.BillingStreet, Account.BillingCity, Account.BillingState, Account.BillingPostalCode from Opportunity where Id = '#[payload.Id]'" doc:name="Get oppt and account details"/>
        <jms:outbound-endpoint exchange-pattern="request-response" queue="queue.transform.sfdc2canonical" connector-ref="connector-jms" doc:name="queue.transform.sfdc2canonical"/>
        <jms:outbound-endpoint topic="topic.opportunityClosed" doc:name="topic.opportunityClosed" connector-ref="connector-jms"/>
    </flow>
    <flow name="flow-frontend-bpm" doc:name="flow-frontend-bpm">
        <http:inbound-endpoint exchange-pattern="one-way" host="localhost" port="8082" path="account/review/callback" doc:name="HTTP (:8082/account/review/callback)"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <jms:outbound-endpoint queue="queue.accountCreationReviewProcessCallback" doc:name="queue.accountCreationReviewProcessCallback" connector-ref="connector-jms"/>
    </flow>
    
</mule>
